<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="compactDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\gd3-3\source\repos\DbConnectionEx1\DbConnectionEx1\Friends.mdf;Integrated Security=True"/>
    <add name="mssql" connectionString="Server=192.168.3.19,1433;Database=Northwind;User Id=sa;Password =1111;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>