<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="posproject" connectionString="Server=13.124.165.111;DataBase=Pos;User id= sa ;Password=kdw1234!;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
